@media (max-width: 576px) {
    .business-section {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .header-top-section span {
        display: block;
    }

    .business-section h6 {
        font-size: 14px;
    }

    .business-section p {
        font-size: 10px;
    }





}

@media (max-width: 992px) {
    .navbar ul {
        display: block;
    }

    .navbar ul li {
        padding: 3px 0;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .business-section h6,
    .footer-section h6 {
        font-size: 13px;
    }

    .business-section p {
        font-size: 11px;
    }




}

@media (min-width: 992px) {
    .navbar ul li a {
        font-size: 13px;
    }
}